{% extends 'base.html' %}

{% block content %}


    <head>
        <title> Denise Aguiar Art </title>    
        <meta charset="UTF-8">
        <meta name="Denise Aguiar Art" content="Art portfolio Denise Aguiar Teacher Artist">
    </head>
        
    <body>
        <header>
            <h1>
                Denise Aguiar Art
            </h1>
            <hr/>
            <nav>

            </nav>
        </header>
        
        <main>

        </main>
        
        <footer>

        </footer>
    </body>
    


{% endblock %}