
{% extends 'base.html' %}

{% block content %}

    <head>
        <title> Rowan Pitt </title>    
        <meta charset="UTF-8">
        <meta name="Rowan Pitts website" content="Who they are, what they do">
    </head>
        
    <body>
        <header>
            <h1>
                
            </h1>
            <hr/>
            <nav>

            </nav>
        </header>
        
        <main>

        </main>
        
        <footer>

        </footer>
    </body>

    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

{% endblock %}




